.centerText {
  text-align: center;
}
/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    color: #e3e3e3;
  }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  body {
  }
}
